@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    background-image: url("./components/images/aesthetic-wallpaper.gif");
    background-repeat: no-repeat;
    background-size: cover;
    min-height:100vh;
    font-family: 'Montserrat', sans-serif;
}
